.arrivals {
    padding: 0 21px 100px 21px;
    &__title {
        text-align: center;
        margin-bottom: 24px;
    }
    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: $dark;
    }
    &__link {
        color: $accent-color;
        text-decoration: underline;
    }

    .arrivals-slider {
        margin-top: 60px;
        overflow: hidden;
        user-select: none;
        .swiper-wrapper {
            padding-bottom: 100px;
        }
        .swiper-pagination {
            bottom: 0;
            &-bullet {
                position: relative;
                width: 30px;
                height: 30px;
                background-color: transparent;
                &:not(:last-child) {
                    margin-right: 7px !important;
                }
                &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 3px;
                    background-color: #B3B7BC;
                    border-radius: 30px;
                }
                &-active {
                    &:after {
                        background-color: #B3B7BC;
                    }
                }
            }
        }
    }
}
