.banner {
    margin-top: 80px;
    padding: 0 20px 180px 20px;
    &__wrapper {
        display: flex;
        gap: 16px;
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .flex-reverse {
        flex-direction: row-reverse;
    }

    &-small, &-large {
        position: relative;
        padding: 60px 0 135px 60px;
    }
    &-small {
        flex-grow: 1;
        flex-basis: 735px;
        height: 500px;
        &__img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
            object-position: right center;
            z-index: -1;
            user-select: none;
        }
    }
    &-large {
        flex-grow: 1.6;
        flex-basis: 1109px;
        &__img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            user-select: none;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: $bg-dark;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &__subtitle {
        font-weight: 900;
        font-size: 32px;
        line-height: 130%;
        color: $bg-dark;
        margin-top: 12px;
    }

    &__btn {
        margin-top: 40px;
    }
    
    /* timer  */
    &__timer {
        position: absolute;
        bottom: 95px;
        user-select: none;
        .timer__text {
            font-weight: 700;
            font-size: 14px;
            color: $bg-dark;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        .timer__time {
            margin-top: 20px;
            display: flex;
            gap: 27px;
            font-weight: 700;
            font-size: 28px;
            color: $bg-dark;
            span {
                position: relative;
            }
            span:after {
                position: absolute;
                left: 50%;
                bottom: -30px;
                transform: translateX(-50%);
                font-weight: 400;
                font-size: 14px;
            }
        }
        .timer__days:after {
            content: 'Days';
        } 
        .timer__hours:after {
            content: 'Hours';
        } 
        .timer__minutes:after {
            content: 'Mins';
        } 
        .timer__seconds:after {
            content: 'Sec';
        } 
    }

    /* form  */
    &__form {
        .form__label {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 12px;
            font-weight: 400;
            font-size: 14px;
            max-width: 360px;
            margin-top: 35px;
        } 
        .form__input {
            padding: 11px 16px;
            font-weight: 400;
            font-size: 14px;
            height: 44px;
            max-width: 230px;
            border: 1px solid #D7DADD;
            &::placeholder {
                color: #9A9CA5;
            }
        } 
        .form__submit {
            position: absolute;
            bottom: 0;
            right: 0;
            border-radius: 0 4px 4px 0;
        } 
    }

    &__notes {
        display: block;
        margin-top: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: $dark-text;
        max-width: 360px;
    }
}
