.blog {
    margin-top: 180px;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    &__content-item {
        min-height: 482px;
        background: #FFFFFF;
        box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
        border-radius: 4px;
    }

    .item {
        &-img {
            height: 306px;
            width: 100%;
            object-fit: cover;
        }

        &__content {
            padding: 20px 24px 24px;
        }
        &__title {
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            color: $bg-dark;
        }
        &__info {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: $dark;
            margin-top: 12px;
        }
        &__categories, &__date {
            margin-right: 24px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -14px;
                width: 1px;
                height: 12px;
                background-color: $dark;
                border-radius: 4px;
            }
        }
        &__comments {
            margin-left: 20px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -20px;
                width: 16px;
                height: 16px;
                background: url('../../icons/blog/Chat.svg') center center no-repeat;
            }
        }

        &__descr {
            margin-top: 17px;
            font-size: 16px;
            line-height: 160%;
            color: #424551;
        }
    }
}