.header {
    position: relative;
    .container {
        display: flex;
        align-items: center;
        padding: 20px 0;
    }

    &-img {
        width: 130px;
        height: 22px;
    }

    &-nav {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-left: 60px;
        .nav-link {
            font-weight: 700;
            font-size: 16px;
            &_active {
                color: $accent-color;
            }
            &_attention {
                color: $danger;
            }
        }
    }

    .search-form {
        position: relative;
        margin-left: 133px;
        .search-input {
            padding: 13px 40px 13px 16px;
            min-height: 44px;
            width: 380px;
            background-color: #FFFFFF;
            border: 1px solid #D7DADD;
            border-radius: 4px;
            font-size: 14px;
            
        }
        .search-btn {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 50px;
            background-color: transparent;
            border-radius: 0 4px 4px 0;
            border-color: transparent;
            border-right: 5px;
            cursor: pointer;
            background-image: url('../../icons/search-input.svg');
            background-repeat: no-repeat;
            background-position: 16px center;
            transition: 0.2s ease-in-out background-color, 0.2s ease-in-out background-image;
            &:hover {
                background-color: rgba($accent-color, 0.5);
                background-image: url('../../icons/search-input_active.svg');
            }
        }
    }

    .user-info {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 19px;
        padding: 2px 0;
        .user-favorite {
            display: flex;
            align-items: center;
            min-width: 38px;
            .favorite-link {
                background-image: url('../../icons/heart.svg');
                background-repeat: no-repeat;
                background-position: center;
                height: 20px;
                width: 20px;
            }
            .favorite-counter {
                font-size: 16px;
                padding-left: 8px;
            }
        }
        .line {
            display: block;
            width: 2px;
            height: 22px;
            background: linear-gradient(to bottom, rgba(218,219,221,0) 0%,rgba(218,219,221,0.5) 25%,rgba(218,219,221,1) 50%,rgba(218,219,221,0.5) 75%,rgba(218,219,221,0) 100%);

        }
        .user-cart {
            min-width: 53px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .cart-link {
                background-image: url('../../icons/cart.svg');
                background-repeat: no-repeat;
                background-position: center;
                width: 22px;
                height: 22px;
            }
            .cart-counter {
                padding: 3px 7px;
                background-color: #03CEA4;
                border-radius: 5px;
                color: $light-color;
            }
        }
    }

    .nav-megamenu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: $light-color;
        border-top: 1px solid #E5E8ED;
        z-index: 999;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out visibility, 0.3s ease-in-out opacity;
        .container {
            align-items: flex-start;
            display: flex;
            justify-content: space-between;
        }
        .nav-content {
            width: 100%;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
            padding-right: 67px;
            position: relative;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: $dark-text;
            &:after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 2px;
                background: linear-gradient(to bottom, rgba(218,219,221,0) 0%,rgba(218,219,221,0.5) 25%,rgba(218,219,221,1) 50%,rgba(218,219,221,0.5) 75%,rgba(218,219,221,0) 100%);
            }
            li {
                margin-top: 8px;
            }
            .popular-list__item:first-child {
                margin-top: 0;
            }
            a {
                transition: 0.2s ease-in-out color;
            }
            a:hover {
                color: $accent-color;
            }
            .nav-title {
                font-weight: 700;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: 1px;
                color: $bg-dark;
            }
        }
        .attention {
            color: $danger;
        }
        .nav-offers {
            padding-left: 68px;
            .offers__img {
                display: block;
                width: 285px;
                height: 285px;
            }
            .offers__descr {
                margin-top: 16px;
            }
            .offers__link {
                margin-top: 16px;
                padding-right: 44px;
                position: relative;
                &:after {
                    content: '';
                    top:50%;
                    transform: translateY(-50%);
                    right: 24px;
                    display: block;
                    position: absolute;
                    background: url('../../icons/btn-right_arrow.svg') center no-repeat;
                    width: 12px;
                    height: 8px;
                    transition: 0.2s ease-in-out background-image;
                    
                }
                &:hover::after {
                    background: url('../../icons/btn-right_arrow-hwr.svg') center no-repeat;
                }
            }
        }
    }
    .nav-megamenu_active {
        visibility: visible;
        opacity: 1;
    }
}
