.info-panel {
    padding: 16px 0;
    background-color: #F4F5F6;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &__list {
        display: flex;
        align-items: center;
        gap: 32px;
    }  
    .info-home {
        display: block;
        width: 16px;
        height: 16px;
        background: url('../../icons/women-clothes/Home.svg') no-repeat;
    }
    .info-link {
        position: relative;
        color: #424551;
        font-weight: 400;
        font-size: 14px;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: -16px; 
            transform: translateY(-50%);
            background: url('../../icons/women-clothes/arrow.svg') no-repeat;
            width: 6px;
            height: 11px;
        }
        &.choose {
            color: #9A9CA5;
        }
    }

    &__filters {
        display: flex;
        align-items: center;
        gap: 44px;
    }
    .filter__item {
        .filter__link {
            position: relative;
            color: #9A9CA5;
            &-img {
                display: block;
                position: absolute;
                top: 50%;
                left: -24px; 
                transform: translateY(-50%);
                background: url('../../icons/women-clothes/Cross.svg') no-repeat;
                width: 16px;
                height: 16px;
            }
        }
        &.item-main {
            .filter__link {
                color: #424551;
                &-img {
                    background: url('../../icons/women-clothes/Cross-main.svg') no-repeat;
                }
            }
        }
    }
    
}