.nav-top {
    background-color: $bg-dark;
    padding: 12px 0;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-phone {
        font-size: 14px;
        .phone-link {
            padding-left: 3px;
            font-weight: 900;
            transition: 0.2s ease-in-out color;
            &:hover {
                color: $light-hover;
            }
        }
    }
    .nav-list {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
        .nav-item {
            flex-shrink: 0;
        }
        .nav-link {
            font-size: 14px;
            line-height: 150%;
            transition: 0.2s ease-in-out color;
            &:hover {
                color: $light-hover;
            }
        }
    }

    .wrapper {
        display: flex;
        gap: 80px;
        align-items: center;
        .nav-lang {
            display: flex;
            align-items: center;
            gap: 8px;
            .lang-select {
                border: none;
                background-color: transparent;
                color: $dark;
                font-size: 14px;
                line-height: 150%;
                cursor: pointer;
                transition: 0.2s ease-in-out color;
                &:hover {
                    color: $light-hover;
                }
                &:focus {
                    color: $light-hover;
                }
            }
        }

        .nav-authorization {
            position: relative;
            font-size: 14px;
            line-height: 150%;
            display: flex;
            align-items: center;
            gap: 2px;
            &:before {
                content: '';
                position: absolute;
                left: -25px;
                top: 50%;
                transform: translateY(-50%);
                background: url('../../icons/Profile.svg') center center/cover no-repeat;
                width: 16px;
                height: 16px;
            }
            .authorization-login, .authorization-register {
                transition: 0.2s ease-in-out color;
                &:hover {
                    color: $light-hover;
                }
            }
        }
    }
}