.recently-viewed {
    background-color: #fff;
    padding: 80px 0 180px;

    &__slide {
        .card-top {
            background-color: #f4f5f7 ;
        }
    }
    .swiper-wrapper {
        padding-top: 60px;
    }
    &__prev, &__next {
        top: 24px;
        right: 0;
    }
    &__prev {
        right: 50px;
    }
}