.sale {
    padding: 90px 0 78px;
    .container {
        position: relative;
    }

    &__card-large {
        cursor: pointer;
        padding-bottom: 16px;
    }
    &__discount {
        position: absolute;
        left: 16px;
        top: 17px;
        padding: 1px 8px;
        border-radius: 4px;
        background-color: $danger;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: $light-color;
        z-index: 1;
    }
    &__card-img {
        background-color:#f4f5f7;
    }

    .card-bottom__tocart {
        margin-top: 20px;
        opacity: 0;
        visibility: hidden;
        padding-bottom: 16px;
        transition: 0.2s ease-in-out opacity, 0.2s ease-in-out visibility;
        .tocart {
            &__radio {
                display: flex;
                justify-content: space-between;
            }
            &__radio-size {
                label {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                    border: 1px solid #D7DADD;
                    border-radius: 4px;
                    font-weight: 400;
                    font-size: 12px;
                    color: $dark-text;
                    cursor: pointer;
                    &:not(:last-child) {
                        margin-right: 8px;
                    }
                    input {
                        padding: 0;
                        margin: 0;
                        appearance: none;
                        &:checked ~ .input-checked {
                            position: absolute;
                            top: -1px;
                            bottom: -1px;
                            left: -1px;
                            right: -1px;
                            display: block;
                            background-color: transparent;
                            border: 1px solid $accent-color;
                            border-radius: 4px;
                        }
                        &:focus {
                            ~ .input-checked {
                                position: absolute;
                                top: -1px;
                                bottom: -1px;
                                left: -1px;
                                right: -1px;
                                display: block;
                                background-color: transparent;
                                border: 1px solid $accent-color;
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }
            &__radio-color {
                label {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                    border: 1px solid #D7DADD;
                    border-radius: 50%;
                    font-weight: 400;
                    font-size: 12px;
                    color: $dark-text;
                    cursor: pointer;
                    &:not(:last-child) {
                        margin-right: 8px;
                    }
                    input {
                        padding: 0;
                        margin: 0;
                        appearance: none;
                        &:checked ~ .input-checked {
                            position: absolute;
                            top: -1px;
                            bottom: -1px;
                            left: -1px;
                            right: -1px;
                            display: block;
                            background-color: transparent;
                            border: 1px solid $accent-color;
                            border-radius: 50%;
                        }
                    }
                    .span-color {
                        position: absolute;
                        border-radius: 50%;
                        width: 16px;
                        height: 16px;
                    }
                    .black {
                        background-color: black;
                    }
                    .brown {
                        background-color: brown;
                    }
                    .lightblue {
                        background-color: lightblue;
                    }
                }
            }
        }
        .sale__btn {
            margin-top: 20px;
            width: 100%;
        }
    }

    .tocart__active {
        opacity: 1;
        visibility: visible;
    }

    .card-large_active {
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 10px 10px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
        border-radius: 4px;
        transition: 0.2s ease-in-out box-shadow;
    }

    &__slider {
        margin-top: 60px;
        overflow: hidden;
        user-select: none;
        padding-bottom: 30px;
    }
    &__button-prev, &__button-next {
        top: 48px;
    }
    &__button-prev {
        right: 36px;
    }
    &__button-next {
        right: -12px;
    }
    
    &__button {
        display: block;
        margin: 0 auto;
    }
}